#login-page {
    flex: auto;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#login-page > #login-form {
    flex: auto;
    padding: 1rem;
    max-width: 350px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
select {
    height: 40px;
    width: 100%;
    margin-bottom: 0.8rem;
    padding-left: 0.5rem;
    padding-bottom: 0;
    border: none;
    background-color: #272727;
}

button {
    height: 40px;
    width: 100%;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #0077ff;
}

#login-page > #login-form button:hover {
    background-color: #0066ee;
}