#logs-container {
    position: relative;
    width: 100%;
    font-size: small;
    font-weight: light;
    border-collapse: collapse;
}

#logs-container thead {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

#logs-container th {
    height: 30px;
    padding: 0 0.5rem;
    text-align: left;
    background-color: #222;
}

#logs-container tr td {
    height: 35px;
    padding: 0 0.5rem;
}

#logs-container tr:nth-child(even) {
    background-color: #222;
}

#logs-container tr:hover {
    background-color: #0077ff33;
}