#settings-section {
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    border: 1px solid #1115;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #191919;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

#settings-section.show {
    display: flex;
}

#settings-section > .menu {
    display: flex;
    background-color: #1e1e1e;
    width: 170px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 0.5rem;
}

#settings-section > .menu a {
    display: block;
    border-radius: 0.5rem;
    font-size: small;
    height: 35px;
    line-height: 35px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#settings-section > .menu #logout-btn,
#settings-section > .menu #logout-btn * {
    color: #ee5555;
}

#settings-section > .menu a i {
    margin-right: 0.7rem;
}

#settings-section > .menu a:hover,
#settings-section > .menu a.active {
    background-color: #2e2e2e;
}

#settings-section > .details {
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
}

#settings-section > .details > * {
    display: block;
}

#settings-section > .details > .account-info {
    font-size: 14px;
}

#settings-section > .details label {
    font-size: 13px;
    font-style: italic;
    color: #777;
    margin-bottom: 0.3rem;
}

#settings-section > .details button {
    background-color: #007bff;
    width: 200px;
    margin: 2rem auto 0;
}

#settings-section > .details input {
    color: #eee;
    background-color: #272727;
    padding-left: 0.5rem;
    height: 35px;
    border: none;
    margin-bottom: 0.5rem;
    width: 100%;
}

#settings-section > .details p#username {
    font-size: 22px;
    width: max-content;
    padding-right: 2rem;
    position: relative;
}

#settings-section > .details p#username:focus {
    padding-left: 5px;
    outline: 1px solid #007bff;
}

#settings-section > .details p#username:focus::before {
    content: "Press Enter";
    height: max-content;
    width: max-content;
    position: absolute;
    font-size: 11px;
    padding: 0.1rem 0.5rem;
    top: 100%;
    right: 0;
    color: #333;
    background-color: #007bff;
}

#settings-section > .details img {
    background-color: #13315C;
    border: 1px;
    object-fit: contain;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    vertical-align: middle;
    margin-bottom: 1.5rem;
}